
/*
@media (min-width:1024px) {
    .header{
        background-image: url("/home/joss/my-landingPage/my-app01/src/images/head3.jpg");
        min-height: 700px;
        background-size: 100vw;
        filter:grayscale(38%);
    }
} 


@media (max-width:1024px) {
    .header{
        background-image: url("/home/joss/my-landingPage/my-app01/src/images/head3.jpg");
        background-repeat: no-repeat;
        background-size: 100vw;
        filter:grayscale(38%);
        
    }
} 


.centrar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20%;
}

.fondo{
   
    padding: 15px;
    border-radius: 2px;
    box-shadow: -2px 2px 4px black;
    text-shadow: 2px 2px 3px rgb(10, 22, 58);
}

.fondo2{
    box-shadow: 6px 3px 1px 3px  black;
    border: .5px solid rgb(24, 27, 29);
    text-shadow: 3px 3px 2px black;
    padding: 0px 10px  ;
   
    
}

@media(min-width:1400px) {
    .altur{
        min-height: 900px;
    }
}

   */ 

